### Importa√ß√£o dos dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()
loja.tail()
loja.shape
loja.columns
loja3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Pre√ßo                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avalia√ß√£o da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

#1. An√°lise do faturamento

In [ ]:
# Calcula o faturamento total das lojas 1, 2, 3 e 4
faturamento_loja1 = loja['Pre√ßo'].sum()
faturamento_loja2 = loja2['Pre√ßo'].sum()
faturamento_loja3 = loja3['Pre√ßo'].sum()
faturamento_loja4 = loja4['Pre√ßo'].sum()

print(f"O Faturamento Total da Loja 1: R$ {faturamento_loja1:,.2f}")
print(f"O Faturamento Total da Loja 2: R$ {faturamento_loja2:,.2f}")
print(f"O Faturamento Total da Loja 3: R$ {faturamento_loja3:,.2f}")
print(f"O Faturamento Total da Loja 4: R$ {faturamento_loja4:,.2f}")

O Faturamento Total da Loja 1: R$ 1,534,509.12
O Faturamento Total da Loja 2: R$ 1,488,459.06
O Faturamento Total da Loja 3: R$ 1,464,025.03
O Faturamento Total da Loja 4: R$ 1,384,497.58

# 2. Vendas por Categoria

In [ ]:
# Calcular a qtde de produtos vendidos por categoria do produto e contar o n√∫mero de vendas em cada categoria

vendas_por_categoria1 = loja.groupby('Categoria do Produto').size()
vendas_por_categoria2 = loja2.groupby('Categoria do Produto').size()
vendas_por_categoria3 = loja3.groupby('Categoria do Produto').size()
vendas_por_categoria4 = loja4.groupby('Categoria do Produto').size()


# Converter a Series resultante para um DataFrame e dar um nome √† coluna de contagem
vendas_por_categoria1 = vendas_por_categoria1.reset_index(name='Total de Vendas por Categoria - Loja 1')
vendas_por_categoria2 = vendas_por_categoria2.reset_index(name='Total de Vendas por Categoria - Loja 2')
vendas_por_categoria3 = vendas_por_categoria3.reset_index(name='Total de Vendas por Categoria - Loja 3')
vendas_por_categoria4 = vendas_por_categoria4.reset_index(name='Total de Vendas por Categoria - Loja 4')

# Ordenar o resultado para visualizar as categorias mais vendidas primeiro
categorias_populares1 = vendas_por_categoria1.sort_values(
    by='Total de Vendas por Categoria - Loja 1',
    ascending=False
)

categorias_populares2 = vendas_por_categoria2.sort_values(
    by='Total de Vendas por Categoria - Loja 2',
    ascending=False
)

categorias_populares3 = vendas_por_categoria3.sort_values(
    by='Total de Vendas por Categoria - Loja 3',
    ascending=False
)

categorias_populares4 = vendas_por_categoria4.sort_values(
    by='Total de Vendas por Categoria - Loja 4',
    ascending=False
)

# Exibir o resultado
print("--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 1 ---")
print(categorias_populares1)

print("--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 2 ---")
print(categorias_populares2)

print("--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 3 ---")
print(categorias_populares3)

print("--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 4 ---")
print(categorias_populares4)

--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 1 ---
    Categoria do Produto  Total de Vendas por Categoria - Loja 1
6                 moveis                                     465
2            eletronicos                                     448
0             brinquedos                                     324
1       eletrodomesticos                                     312
3        esporte e lazer                                     284
4  instrumentos musicais                                     182
5                 livros                                     173
7  utilidades domesticas                                     171
--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 2 ---
    Categoria do Produto  Total de Vendas por Categoria - Loja 2
6                 moveis                                     442
2            eletronicos                                     422
0             brinquedos                                     313
1       eletrodomesticos                                     305
3        esporte e lazer                                     275
4  instrumentos musicais                                     224
5                 livros                                     197
7  utilidades domesticas                                     181
--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 3 ---
    Categoria do Produto  Total de Vendas por Categoria - Loja 3
6                 moveis                                     499
2            eletronicos                                     451
0             brinquedos                                     315
1       eletrodomesticos                                     278
3        esporte e lazer                                     277
5                 livros                                     185
4  instrumentos musicais                                     177
7  utilidades domesticas                                     177
--- üìä Quantidade de Produtos Vendidos por Categoria na Loja 4 ---
    Categoria do Produto  Total de Vendas por Categoria - Loja 4
6                 moveis                                     480
2            eletronicos                                     451
0             brinquedos                                     338
3        esporte e lazer                                     277
1       eletrodomesticos                                     254
7  utilidades domesticas                                     201
5                 livros                                     187
4  instrumentos musicais                                     170

In [ ]:
# Consolidar os DataFrames de cada loja em um √∫nico DataFrame
todas_lojas = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

# Calcular a qtde de produtos vendidos por categoria do produto e contar o n√∫mero de vendas em cada categoria
vendas_por_categoria = todas_lojas.groupby('Categoria do Produto').size()

# Converter a Series resultante para um DataFrame e dar um nome √† coluna de contagem
vendas_por_categoria = vendas_por_categoria.reset_index(name='Total de Vendas por Categoria - Todas Lojas')

# Ordenar o resultado para visualizar as categorias mais vendidas primeiro
categorias_populares = vendas_por_categoria.sort_values(
    by='Total de Vendas por Categoria - Todas Lojas',
    ascending=False
)

# Exibir o resultado
print("--- üèÜ Ranking das Categorias Mais Populares (4 Lojas Consolidadas) ---")
print(categorias_populares)

--- üèÜ Ranking das Categorias Mais Populares (4 Lojas Consolidadas) ---
    Categoria do Produto  Total de Vendas por Categoria - Todas Lojas
6                 moveis                                         1886
2            eletronicos                                         1772
0             brinquedos                                         1290
1       eletrodomesticos                                         1149
3        esporte e lazer                                         1113
4  instrumentos musicais                                          753
5                 livros                                          742
7  utilidades domesticas                                          730

# 3. M√©dia de Avalia√ß√£o das Lojas

In [ ]:
# Calcular a m√©dia da Avalia√ß√£o da compra para cada loja
media_loja1 = loja['Avalia√ß√£o da compra'].mean()
media_loja2 = loja2['Avalia√ß√£o da compra'].mean()
media_loja3 = loja3['Avalia√ß√£o da compra'].mean()
media_loja4 = loja4['Avalia√ß√£o da compra'].mean()

# 3. Organizar os resultados em um DataFrame para facilitar a compara√ß√£o
dados_medias = {
    'Loja': ['Loja 1', 'Loja 2', 'Loja 3', 'Loja 4'],
    'M√©dia da Avalia√ß√£o': [media_loja1, media_loja2, media_loja3, media_loja4]
}

df_medias = pd.DataFrame(dados_medias)

# Ordenar por avalia√ß√£o para ver qual loja teve a melhor m√©dia
df_medias_ordenado = df_medias.sort_values(
    by='M√©dia da Avalia√ß√£o',
    ascending=False
).reset_index(drop=True)

# Exibir os resultados
print("--- üåü M√©dia da Avalia√ß√£o de Compra por Loja ---")
print(df_medias_ordenado.to_markdown(index=False, floatfmt=".2f"))

--- üåü M√©dia da Avalia√ß√£o de Compra por Loja ---
| Loja   |   M√©dia da Avalia√ß√£o |
|:-------|---------------------:|
| Loja 3 |                 4.05 |
| Loja 2 |                 4.04 |
| Loja 4 |                 4.00 |
| Loja 1 |                 3.98 |

In [ ]:
# Calcular a m√©dia da Avalia√ß√£o da compra para loja 1
media_loja1 = loja['Avalia√ß√£o da compra'].mean()
media_loja1
# Exibir os resultados
print(f"--- üåü M√©dia da Avalia√ß√£o de Compra - Loja 1 ---", {media_loja1})

--- üåü M√©dia da Avalia√ß√£o de Compra - Loja 1 --- {np.float64(3.976685036032217)}

# 4. Produtos Mais e Menos Vendidos

# 5. Frete M√©dio por Loja